<div class="container">
    <div class="row"><br>
        <div class="col-md-12">
            <div class="pull-left">
                <button [routerLink]="['/contactFullDetails']" class="btn btn-primary">
                    All Details
                </button>
                <button style="margin-left:10px;" [routerLink]="['/ListUsingDatatable']" class="btn btn-info">
                    Datatable
                </button>
                <!-- <button style="margin-left:10px;" [routerLink]="['/Datatable']" class="btn btn-warning">
                    Ang Datatable
                </button> -->
                <button style="margin-left:10px;" [routerLink]="['/Registration']" class="btn btn-warning">
                   Register
                </button>
                <button style="margin-left:10px;" [routerLink]="['/DynamicForm']" class="btn btn-warning">
                    DynamicForm
                 </button>
                 <button style="margin-left:10px;" [routerLink]="['/Interaction']" class="btn btn-warning">
                    Component Interaction 
                 </button>
                 <button style="margin-left:10px;" [routerLink]="['/TestModule']" class="btn btn-danger">
                    Lazy Loading 
                 </button>

                 <button style="margin-left:10px;" (click)="fetch()" class="btn btn-danger">
                    Interceptor 
                 </button>

                
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h2>Contacts List</h2>
            <table > 
                <thead>
                    <th>No: </th>
                    <th>Name</th>
                    <th>Name using pipes</th>
                </thead>
                <tbody>
                    <tr *ngFor = "let contact of contactLists; let i = index">
                        <td> {{i+1}}</td>
                        <td>  <a [routerLink]="['/contactdetail/', contact.id]"> {{contact.first_name+" "+contact.last_name}} </a> </td>
                       
                        <!-- using pipes -->
                        <td>{{ contact | personName }}</td>

                    </tr>
                </tbody>
            </table>
        </div>
<hr>
        <div class="row">
            <div class="col-md-12">
                <h3>-----Lazy loading-------</h3>
                <button routerLink="/customers">Customers</button>
                <button routerLink="/order">Orders</button>

            </div>
        </div>
    </div>
</div>

