<div class="container">
    <div class="row">
        <h3 class="text-center">Contact Detail</h3>
        <div   >
            <div class="col-md-12" style="border: 2px solid dodgerblue;">
                <div class=" pd-1" >
                    <div class="col-md-6" style="float: left;" >
                        <img width="60px;" src="{{contactDetail.avatar}}" alt="">
                    </div>
                    <div class="col-md-6">
                        <div >
                            <label for="">Name</label> :
                            {{contactDetail.first_name+" "+contactDetail.last_name}}
                        </div>
                        <div >
                            <label for="">Email</label> : 
                            {{contactDetail.email}}
                        </div>
                    </div>
                    
                </div>
                
               
                
            </div>
          
        </div>
    </div>
</div>

